#main-nav {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

body /* Whole page CSS */
  {border: 30px solid white;}

br /* Line break CSS */
  {line-height: 150%;}

.nav-item /* Nav CSS*/
  {margin-top: 10px;}

.nav-link
  { color: black;
    text-transform: uppercase;
    font-size: 20px; }

.nav-brand
  { margin-left: 50px;
    margin-right: 50px; }

.logo
  { margin-top: 0px; }


h4 /* Text CSS*/
  { color: #5C6F00; /*Dark green*/
    font-weight: bold; }

h3
  { color: #5C6F00;
    font-size: 20px; }

h2
  { color: #9FB14C; /*Light green*/
    text-align: center; }

h5
  { color:#9FB14C;
    text-align: left; }

.button1 /* Button (center) CSS*/
  { background-color: #8A643B; /*Light brown*/
    color: white;
    padding: 10px;
    font-size: 15px;
    margin:auto;
    display:block; }

.button2 /* Button (right float) CSS */
  { background-color:#8A643B;
    color: white;
    padding: 10px;
    font-size: 15px;
    float: right; }

.button1:hover /* Button (Hover) CSS */
  { background-color: #48331D; /* Dark brown*/
    color: white;
    padding: 10px;
    font-size: 15px; }

.button2:hover
  { background-color: #48331D;
    color: white;
    padding: 10px;
    font-size: 15px; }

.Healthfood /* Main header image */
  { position: relative;
    width: 100%;
    z-index: 0; }

.text-block /* Text block (Regular view) */
  { position: absolute;
    bottom: 60px;
    right: 60px;
    background-color: rgba(255, 255, 255, 0.6);white;
    color: black;
    padding-left: 20px;
    padding-right:20px;
    width: 40%;
    Height: 480px;
    box-shadow: -10px 10px 15px -10px rgba(138,138,138,1); }

.hidden-text-block /* Text block (Mobile only- responsive view)*/
  { color: black;
    width: 100%;
    display: none; }


div.container /* Grid cards CSS */
  { text-align: center;
    padding: 10px 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2) }

.row:after
  { content: "";
    display: table;
    clear: both; }

.column
  { float: left;
    width: 33.33%;
    padding: 10px; }

.btn-primary /* Bootstrap form CSS (Button) */
  { background-color: #8A643B;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    margin:auto;
    display:block;
    border-radius: 0; }

.btn-primary:hover /* Bootstrap form CSS (Button-Hover) */
  { background-color: #48331D;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 0; }

.pt-0 /* Bootstrap form labels CSS */
  { color: #5C6F00;
    font-weight: bold; }

.col-form-label
  { color: #5C6F00;
    font-weight: bold; }

.col-sm-2
  { color: #5C6F00;
    font-weight: bold; }

.col-sm-11 /* Bootstrap form CSS (Button alignment) */
  { text-align:center; }




@media screen and (max-width: 850px) /* Responsive grid cards */
{
.column
  { width: 100%; }
}


@media screen and (max-width: 850px) /* Responsive text block- hides full size text block on small screens */
{
.text-block
  { visibility: hidden; }
}

@media screen and (max-width: 850px) /* Responsive text block- reveals mobile view text block on small screens */
{
.hidden-text-block
  { display: initial; }
}
